---
import Layout from '../layouts/Layout.astro';
---

<Layout title="2024 中小學 STEM 比賽清單">
  <main id="content" class="site-main post-10161 page type-page status-publish hentry">
    <header class="page-header">
      <h1 class="entry-title text-4xl font-bold text-gray-800 mb-8 text-center">2024 中小學 STEM 比賽清單</h1>
    </header>
    
    <div class="page-content max-w-7xl mx-auto px-4">
      <div class="elementor elementor-10161">
        <div class="elementor-element elementor-element-423870f e-flex e-con-boxed e-con e-parent">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-2a1107f elementor-widget elementor-widget-heading mb-6">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default text-3xl font-semibold text-gray-700 mb-4">小學組別</h2>
              </div>
            </div>
            
            <div class="elementor-element elementor-element-bc9ff5e elementor-widget elementor-widget-text-editor mb-8">
              <div class="elementor-widget-container">
                <div class="overflow-x-auto">
                  <table class="w-full border-collapse border border-gray-300">
                    <thead>
                      <tr class="bg-gray-100">
                        <th class="border border-gray-300 px-4 py-3 text-center font-semibold">比賽日期</th>
                        <th class="border border-gray-300 px-4 py-3 text-center font-semibold">比賽名稱</th>
                        <th class="border border-gray-300 px-4 py-3 text-center font-semibold">關鍵字</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-01-12</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.hkcyaa.com/post/schoolsstemcompetition2023" class="text-blue-600 hover:text-blue-800 underline">第二屆全港學界STEM創意大賽2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-05-20</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://art.10botics.com/" class="text-blue-600 hover:text-blue-800 underline">AI藝術創作大賽《以書畫之名》</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">AI Related</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-06-05</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.edcity.hk/coding/zh-hant" class="text-blue-600 hover:text-blue-800 underline">Master Code編程大賽2022/23：AI創想氣候藍圖</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Minecraft</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-08</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.cuhk-greenstem.com/green-innovation-competition-2023" class="text-blue-600 hover:text-blue-800 underline">綠色科技創意大賽2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-08</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://ce.hkfyg.org.hk/teachers-zone/competition/ccc/" class="text-blue-600 hover:text-blue-800 underline">創意編程設計大賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Coding</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-08</td>
                        <td class="border border-gray-300 px-4 py-3 text-center">『童擁AI』CODING ∞ 科技比賽</td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Coding</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-10</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.aitle.org.hk/?p=11060" class="text-blue-600 hover:text-blue-800 underline">We Can Fly 校際模擬飛行比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-13</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.una.study/tech-for-future/2023/" class="text-blue-600 hover:text-blue-800 underline">「科技創未來 – Tech For Future」創新訓練營及比賽2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">AI Related</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-15</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://ce.hkfyg.org.hk/teachers-zone/competition/4dframe_competition-2/" class="text-blue-600 hover:text-blue-800 underline">香港創意數理科學4D Frame比賽2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-15</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://stem-alliance.org.hk/zh-tw/new-past-events/2023enginner" class="text-blue-600 hover:text-blue-800 underline">第五屆未來工程師大賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-07-23</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.cuhk-greenstem.com/mitsubishielectricecotechcup23" class="text-blue-600 hover:text-blue-800 underline">第一屆「三菱電機綠續創科盃」</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-08-04</td>
                        <td class="border border-gray-300 px-4 py-3 text-center">RoboMaster2023 青少年對抗賽 (香港站)</td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-08-18</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.dtsl.asia/pages/2023-mev-steam-challeng-hong-kong" class="text-blue-600 hover:text-blue-800 underline">2023 MEV 機動電能車大賽（香港）</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-08-26</td>
                        <td class="border border-gray-300 px-4 py-3 text-center">國際青少年創科奧林匹克大賽 2023</td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Knowledge</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-09-23</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.facebook.com/photo/?fbid=708147497789114&set=a.519194993351033" class="text-blue-600 hover:text-blue-800 underline">Do your:bit Challenge 2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Micro:bit</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-10-07</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://edubile.hk.chinamobile.com/contest?id=616230126274977792" class="text-blue-600 hover:text-blue-800 underline">第四屆中國移動OneNET創科比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-10-27</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.aitle.org.hk/?p=11222" class="text-blue-600 hover:text-blue-800 underline">2023 年廣東省粵港澳青少年人工智能追夢營編程大賽（香港區）</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Coding</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-11-04</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.dtsl.asia/pages/makex-robotics-competition-hk-2023details" class="text-blue-600 hover:text-blue-800 underline">2023 MakeX 機械人挑戰賽 (香港)</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-11-12</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.aitle.org.hk/?p=11315" class="text-blue-600 hover:text-blue-800 underline">第一屆同創共學 – AI 咒語繪畫師（社區與飲食）比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">AI Related</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-11-24</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.samsung.com/hk/offer/solvefortomorrow2023/" class="text-blue-600 hover:text-blue-800 underline">Samsung Solve for Tomorrow 2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-11-30</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://prister.net/zh-hant/news-and-competitions/the-1st-global-marty-challenge" class="text-blue-600 hover:text-blue-800 underline">第一屆Global Marty Challenge全球機械人挑戰賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2023-12-21</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://bit.ly/49K9zLs" class="text-blue-600 hover:text-blue-800 underline">HKACE x Caprikon Education – 國際編程精英挑戰賽2023-24</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Coding</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-01-15</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://subscription.creationcabin.com/stem2024/" class="text-blue-600 hover:text-blue-800 underline">2024你真的懂科技嗎？STEM問答比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Knowledge</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-01-27</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://events.hk-tag.org/about-smart-living/" class="text-blue-600 hover:text-blue-800 underline">開放數據應用比賽 2023</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Hackathon</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-02-05</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.peachcp.com/wro-hk/src2024/" class="text-blue-600 hover:text-blue-800 underline">全港學界相撲機械人大賽2024</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-02-07</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.peachcp.com/wro-hk/hkrc-w-2024/" class="text-blue-600 hover:text-blue-800 underline">WRO香港機械人「冬季」挑戰賽 2024</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-02-24</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="http://www.robofesthk.org/2024rf" class="text-blue-600 hover:text-blue-800 underline">Robofest 2024香港區選拔賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-03-09</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://hkoi.org/zh/primary-apply-2023-24/" class="text-blue-600 hover:text-blue-800 underline">第七屆「香港小學電腦奧林匹克比賽（2023/24）」</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Knowledge</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-03-18</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="/ai-art-competition-2024/" class="text-blue-600 hover:text-blue-800 underline">2024 校際AI藝術創作大賽《數碼詠古》</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">AI Related</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-03-23</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://stic.newgen.org.hk/%E9%97%9C%E6%96%BC%E5%A4%A7%E8%B3%BD/" class="text-blue-600 hover:text-blue-800 underline">第26屆香港青少年科技創新大賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-03-31</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://form.jotform.com/SnapPop/HKDQCNCDC_form" class="text-blue-600 hover:text-blue-800 underline">全港數碼旗袍及民族服裝創意設計比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-03-31</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.education.union.hk/dobotcontest2024-primary" class="text-blue-600 hover:text-blue-800 underline">新世紀達人挑戰賽2024 （小學組別）</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-04-01</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.bayareacentre.org.hk/projects/%E5%A4%A7%E7%81%A3%E5%8D%80%E9%99%B8%E7%A9%BA%E6%99%BA%E6%85%A7%E7%89%A9%E6%B5%81%E6%A0%A1%E9%9A%9B%E6%8C%91%E6%88%B0%E8%B3%BD/" class="text-blue-600 hover:text-blue-800 underline">大灣區陸空智慧物流校際挑戰賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Robotics</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-04-05</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfx0TmU5RPdSzRNfIwcAQbJacykKM1ugZs1iwPm0Bm8INZLAQ/viewform" class="text-blue-600 hover:text-blue-800 underline">第一屆學界短片製作比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">AI Related</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-04-13</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.a22foundation.org/intdswaihuman" class="text-blue-600 hover:text-blue-800 underline">國際AI人類協作數位故事寫作大賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">AI Related</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-04-20</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.aitle.org.hk/?p=11401" class="text-blue-600 hover:text-blue-800 underline">第一屆香港學屆環保科技挑戰</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-04-20</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.aitle.org.hk/?p=11298" class="text-blue-600 hover:text-blue-800 underline">2023-2024 STEM x 海洋航行器設計 / 制作比賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Innovative solutions / Prototyping</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-04-27</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.facebook.com/photo?fbid=878481044285336&set=a.463037885829656&locale=br_FR" class="text-blue-600 hover:text-blue-800 underline">全港學界無人機挑戰賽2024</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Drone</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-05-11</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://ce.hkfyg.org.hk/teachers-zone/competition/hk_greenmech-2/" class="text-blue-600 hover:text-blue-800 underline">香港機關王競賽</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-07-01</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://first.trumptech.com/fll-season-2023-24.php" class="text-blue-600 hover:text-blue-800 underline">FIRST® LEGO® League</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                      </tr>
                      <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-3 text-center">2024-07-13</td>
                        <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://ctc.coolthink.hk/" class="text-blue-600 hover:text-blue-800 underline">賽馬會運算思維教育 – 全港小學生運算思維比賽2024</a></td>
                        <td class="border border-gray-300 px-4 py-3 text-center">Coding</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div class="elementor-element elementor-element-6853df5 e-con-full e-flex e-con e-child">
              <div class="elementor-element elementor-element-bb8581d elementor-widget elementor-widget-heading mb-6">
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default text-3xl font-semibold text-gray-700 mb-4">中學組別</h2>
                </div>
              </div>
              
              <div class="elementor-element elementor-element-12bf680 elementor-widget elementor-widget-text-editor">
                <div class="elementor-widget-container">
                  <div class="overflow-x-auto">
                    <table class="w-full border-collapse border border-gray-300">
                      <thead>
                        <tr class="bg-gray-100">
                          <th class="border border-gray-300 px-4 py-3 text-center font-semibold">比賽日期</th>
                          <th class="border border-gray-300 px-4 py-3 text-center font-semibold">比賽名稱</th>
                          <th class="border border-gray-300 px-4 py-3 text-center font-semibold">關鍵字</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-06-05</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://student.edcity.hk/pri/zh-hant/coding/" class="text-blue-600 hover:text-blue-800 underline">Master Code編程大賽2022/23：AI創想氣候藍圖</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">AI</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-07-13</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.una.study/tech-for-future/2023/" class="text-blue-600 hover:text-blue-800 underline">「科技創未來 – Tech For Future」創新訓練營及比賽2023</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">人工智能</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-08-10</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://metaverse-zh.comp.polyu.edu.hk/" class="text-blue-600 hover:text-blue-800 underline">「築夢 ‧ 元夢」元宇宙創作比賽及培訓計劃 – 2023</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">元宇宙</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-08-28</td>
                          <td class="border border-gray-300 px-4 py-3 text-center">第三屆的校園創建計劃</td>
                          <td class="border border-gray-300 px-4 py-3 text-center">Minecraft</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-09-23</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.facebook.com/photo/?fbid=708147497789114&set=a.519194993351033" class="text-blue-600 hover:text-blue-800 underline">Do your:bit Challenge 2023</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">Micro:bit</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-11-03</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.ofca.gov.hk/5gcompetition/tc/competition_detail/index.html" class="text-blue-600 hover:text-blue-800 underline">5G校園應用創作比賽</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">AR / VR</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2023-12-02</td>
                          <td class="border border-gray-300 px-4 py-3 text-center">AIGC+元宇宙創新應用國際競賽港澳賽區</td>
                          <td class="border border-gray-300 px-4 py-3 text-center">元宇宙</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-01-20</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://cyberdefender.hk/challenge/" class="text-blue-600 hover:text-blue-800 underline">「大灣區青少年人工智能及網絡安全」挑戰賽</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">人工智能</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-01-27</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://events.hk-tag.org/about-smart-living/" class="text-blue-600 hover:text-blue-800 underline">開放數據應用比賽 2023</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">Hackathon</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-02-05</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.peachcp.com/wro-hk/src2024/" class="text-blue-600 hover:text-blue-800 underline">全港學界相撲機械人大賽2024</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-02-07</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.peachcp.com/wro-hk/hkrc-w-2024/" class="text-blue-600 hover:text-blue-800 underline">WRO香港機械人「冬季」挑戰賽 2024</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-02-23</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://sites.google.com/hksssc.edu.hk/stucomp2024/%E9%97%9C%E6%96%BC%E6%AF%94%E8%B3%BD?authuser=0" class="text-blue-600 hover:text-blue-800 underline">「國家安全領域」虛擬遊設計比賽</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">CoSpaces</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-03-09</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://www.eduhk.hk/aiedtech/" class="text-blue-600 hover:text-blue-800 underline">人工智能及創新科技比賽 2023 – 2024</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">人工智能</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-03-31</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://edu.nd.com.hk/chvrcontest/?lang=en" class="text-blue-600 hover:text-blue-800 underline">2024年 全港中學生VR創作比賽</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">AR / VR</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-05-11</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://ce.hkfyg.org.hk/teachers-zone/competition/hk_greenmech-2/" class="text-blue-600 hover:text-blue-800 underline">香港機關王競賽</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                        </tr>
                        <tr class="hover:bg-gray-50">
                          <td class="border border-gray-300 px-4 py-3 text-center">2024-07-01</td>
                          <td class="border border-gray-300 px-4 py-3 text-center"><a href="https://first.trumptech.com/fll-season-2023-24.php" class="text-blue-600 hover:text-blue-800 underline">FIRST® LEGO® League</a></td>
                          <td class="border border-gray-300 px-4 py-3 text-center">LEGO</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
