---
export interface Props {
  formId?: string;
}

const { formId = "qhmoqcvc" } = Astro.props;
---

<div class="paperform-container">
  <div data-paperform-id={formId}></div>
</div>

<script is:inline define:vars={{ formId }}>
  // Load Paperform embed script
  (function(){
    var script = document.createElement('script');
    script.src = "/embed.js"; 
    document.body.appendChild(script);
  })();
</script>

<style>
  .paperform-container {
    width: 100%;
  }
</style> 